p, li {
    font-size: 20px;
}

h1 ,p {
    margin-left: 20px;
}

.modulo-sidebar li {
    margin-bottom: 20px;
}
.sidebar {
    background-color: rgb(152, 195, 238);
    width: 500px;
    height: 100%;
    position: fixed;
}

.modulo-sidebar {
    margin-bottom: 60px;
}