<div class="sidebar">
    <div class="modulo-sidebar">
        <h1>CONTACTO</h1>
        <p>(56) 912345678</p>
        <p>apdilla@gmail.com</p>
        <p>linkedin.com/in/alison-padilla-baltazar-889257105</p>
    </div>
    
    <div class="modulo-sidebar">
        <h1>HABILIDADADES</h1>
        <ul>
            <li>Liderazgo</li>
            <li>Resolución de problemas</li>
            <li>Elaboración de reportes</li>
            <li>Trabajo en equipo</li>
            <li>Comunicaión asertiva</li>
        </ul>
    </div>

    <div class="modulo-sidebar">
        <h1>EDUACIÓN</h1>
        <ul>
            <li>Grado en Ingeniería Civil Industrial</li>
                <p>Universidad Católica del Norte - 2022</p>
        </ul>
    </div>

</div>
