<div>
    <div class="modulo">
        <h1>ACERCA DE MI</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad exercitationem error cumque quas. Quia commodi dolore eum sapiente molestias sequi vitae obcaecati. Voluptatibus veritatis est deserunt praesentium, quis ipsa maiores?</p>
    </div>

    <div class="modulo">
        <h1>EXPERIENCIA LABORAL</h1>
        <ul>
            <li>Analista de Operaciones</li>
                <p>Empresa X</p>
                <p>2021 - 2023</p>
            <li>Prácticante universitaria</li>
                <p>Empresa X</p>
                <p>2021 - 2021</p>
            <li>Ayudante en Centro Salud</li>
                <p>Universidad Católica del Norte</p>
                <p>2020 - 2020</p>
        </ul>
    </div>
    
</div>

